asn1crypto==0.24.0
Click==7.0
cryptography==2.1.4
enum34==1.1.6
Flask==1.1.1
Flask-MySQLdb==0.2.0
get==2019.4.13
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
jsonify==0.5
keyring==10.6.0
keyrings.alt==3.0
logging==0.4.9.6
markup==0.2
MarkupSafe==1.1.1
mysqlclient==1.4.4
post==2019.4.13
public==2019.4.13
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
PyYAML==5.1.2
query-string==2019.4.13
render==1.0.0
request==2019.4.13
SecretStorage==2.3.1
six==1.11.0
subprocess32==3.5.4
template==0.5.1
toml==0.10.0
Werkzeug==0.16.0
WTForms==2.2.1
